<form
  class="card login-container"
  (submit)="register(email, password, username)"
>
  <div class="input-container">
    <label for="user-username">Username</label>
    <input
      [(ngModel)]="username"
      label="Username"
      type="text"
      name="user-username"
      id="user-username"
      placeholder="Marie Antoinette"
    />
  </div>
  <div class="input-container">
    <label for="user-email">Email</label>
    <input
      [(ngModel)]="email"
      label="Email"
      type="email"
      name="user-email"
      id="user-email"
      placeholder="example@domain.com"
    />
  </div>
  <div class="input-container">
    <label for="user-password">Password</label>
    <input
      [(ngModel)]="password"
      label="Password"
      type="password"
      name="user-password"
      id="user-password"
      placeholder="******"
    />
  </div>
  <div class="input-container">
    <button type="submit" class="button">
      Login
    </button>
  </div>
</form>
